.icon-button {
  color: #212529;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  &:hover {
    background: $gray-200;
    color: #212529;
  }
}
.icon-star-outline {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $dark;
  &:hover {
    color: orange;
  }
}
.icon-mode-edit {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $dark;
  &:hover {
    color: $primary;
  }
}
